@import "tailwindcss";

:root,
.light,
.dark {
  transition: background 0.3s, color 0.3s;
}

:root {
  --radius: 1rem;
  --bg-color: oklch(0.96 0.0143 84.58);
  --secondary: oklch(0.81 0.0143 84.58);
  --text-color: oklch(0.29 0 0);
  --text-secondary: oklch(0.26 0.132 292.63);
}

.dark {
  --radius: 1rem;
  --bg-color: oklch(0.23 0 0);
  --bg-secondary: oklch(0.32 0 0);
  --text-color: oklch(0.93 0.0046 78.3);
  --text-secondary: oklch(0.23 0.132 292.63);
}

@theme {
  --color-background: var(--bg-color);
  --color-text: var(--text-color);
  --color-secondary: var(--bg-secondary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
