@import "tailwindcss";

:root,
.light,
.dark {
  transition: background 0.3s, color 0.3s;
}

:root {
  --radius: 1rem;
  --primary-background: oklch(0.96 0.0143 84.58);
  --secondary-background: oklch(0.92 0.0143 84.58);
  --primary-text: oklch(0.29 0 0);
  --secondary: oklch(0.8 0.183 55.334);
}

.dark {
  --radius: 1rem;
  --primary-background: oklch(0.23 0 0);
  --secondary-background: oklch(0.26 0 0);
  --primary-text: oklch(0.93 0.0046 78.3);
  --secondary: oklch(0.8 0.183 55.334);
}

@theme {
  --color-primary-background: var(--primary-background);
  --color-primary-text: var(--primary-text);
  --color-secondary-background: var(--secondary-background);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* :root {
  --radius: 1rem;
  --bg-color: oklch(0.96 0.0143 84.58);
  --secondary: oklch(0.81 0.0143 84.58);
  --text-color: oklch(0.29 0 0);
  --text-secondary: oklch(0.8 0.183 55.334);
}

.dark {
  --radius: 1rem;
  --bg-color: oklch(0.23 0 0);
  --secondary: oklch(0.32 0 0);
  --text-color: oklch(0.93 0.0046 78.3);
  --text-secondary: oklch(0.8 0.183 55.334);
} */

body {
  background: var(--primary-background);
  color: var(--primary-text);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
